*, *::after, *::before{
    box-sizing: border-box;
}

.body{
    margin: 0;
    background-color: #222;
}
.paddle{
    position:absolute;
    background-color: antiquewhite;
    width: 1vh;
    height: 10vh;
}

.paddle-left{
    left: 1vw;
}

.paddle-right{
    right: 1vw;
}
