*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --hue: 100;
  --saturation: 70%;
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 10%);
    font-family:'Courier New', Courier, monospace;
}
.game-heading{
    position:absolute;
    display:flex;
    justify-content:first baseline;
    font-weight: bold;
    font-size: 4 vh;
    color: var(--foreground-color);
    padding-bottom: 2%;
}

.body {
  margin: 0;
  background-color: var(--background-color);
}

.paddle {
  --position: 50;

  position: absolute;
  background-color: var(--foreground-color);
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
  width: 1vh;
  height: 10vh;
}

.paddle.left {
  left: 1vw;
}

.paddle.right {
  right: 1vw;
}

.ball{
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: var(--foreground-color);
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    border-radius: 50%;
    transform: translateY(-50%, -50%);
    width: 2.5vh;
    height: 2.5vh; 
    color: #fff;
    text-align: center;
    font-weight:bold;
    }

.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
    margin-top: 10%;
}

.score > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 4vh;
    margin: 2vh 0;
    opacity: .5;
}

.score > :first-child {
    text-align: right;
    border-right: .5vh solid var(--foreground-color);
}