*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --hue: 100;
  --saturation: 70%;
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 10%);
  --logo-color: hsl(var(--hue), var(--saturation), 85%);
    font-family:Roboto, monospace, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
 
}
.game-heading{
    position:flex;
    display:flex;
    /* row-gap:inherit */
    font-weight: bold;
    font-size: 30 em;
    color: var(--foreground-color);
    padding-bottom:none;
    margin-bottom: 0%;
    margin-left: 50%;
}

.sub-title{
    font-weight:lighter;
    font-size: 1vh;
    color: var(--logo-color);
    margin-left: 50%;
    margin-block-end: auto;
}

.body {
  margin: 0;
  background-color: var(--background-color);
  perspective: 40%;
}

.paddle {
  --position: 50;

  position: absolute;
  background-color: var(--foreground-color);
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
  width: 1vh;
  height: 10vh;
}

.paddle.left {
  left: 1vw;
}

.paddle.right {
  right: 1vw;
}

.ball{
    --x: 100;
    --y: 100;

    position: absolute;
    color: var(--foreground-color);
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    border-radius: 50%;
    transform: translateY(-50%, -50%);
    width: 2.5vh;
    height: 2.5vh; 
    background-color: hsl(var(--hue), var(50%), 75%);
    text-align: center;
    font-weight:bolder;
    font-size: 5vh;
    }

.score {
    display: flex;
    justify-content:center;
    font-weight: bold;
    font-size: 10vh;
    color: var(--foreground-color);
    margin-top: 10%;
    align-items: center;
    row-gap:inherit;
}

.score > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 1vh;
    margin: 2vh 0;
    opacity: .35;
}

.score > :first-child {
    text-align: right;
    border-right: .5vh solid var(--foreground-color);
}
.menu{
    display: flex;
    align-content: center;
}
.button {
    position: center;
    top:10%;
    background-color: var(--foreground-color);
    color: white;
    font-size: 1em;
    border:none;
    border-radius:10px;


}

ul{
    list-style-type: none;
    display:inherit;
    margin-left: 45%;
    
}